# Dependências
node_modules
npm-debug.log

# Build
dist
build

# Ambiente
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Prisma
*.db
*.db-journal

# Testes
coverage
*.test.ts
*.spec.ts
__tests__

# IDE
.vscode
.idea
*.swp
*.swo

# Docs
README.md
docs/

# CI/CD
.github
.gitlab-ci.yml