# Application
SERVICE_NAME="weather-api"
NODE_ENV="development"
PORT=3000
API_PREFIX="/api/v1"

# OpenWeather
OPENWEATHER_API_KEY="your_api_key"
OPENWEATHER_BASE_URL="https://api.openweathermap.org"

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/weather_db"
