# Application
SERVICE_NAME="weather-api"
NODE_ENV="development"
PORT=3000
API_PREFIX="/api/v1"

# OpenWeather
OPENWEATHER_API_KEY=""
OPENWEATHER_BASE_URL="https://api.openweathermap.org/data/2.5"

# Database
DATABASE_URL="postgresql://user:password@localhost:5432/weather_db"
